.box {
    border: 2px solid black;
    padding: 34px;
    box-shadow: 5px 15px 5px greenyellow;
}

.text-shadow {
    text-shadow: 10px 5px 3px #e695f7;
    outline: 2px solid black;
    border: 2px solid green;
    outline-offset: 7px;
    border-radius: 15px;
}