body {
    background-color: rgb(200, 235, 223);
}

div {
    background-color: rgb(192, 223, 164);
    padding: 2px;
}

div p:first-child {
    background-color: yellow;
    color: red;
    padding: 2px;
}

div p {
    color: white;
    background-color: blue;
    padding: 2px;
}