.container {
    border: 2px solid rgb(133, 133, 121);
    display: grid;
    grid-template-areas: "nav nav nav"
                        "side article article"
                        "footer footer footer";
}

.items {
    border: 2px solid red;
    height: 55px;
    /* width: 55px; */
}


.item1 {
    grid-area: nav;
    background-color: #000000;
}
.item2 {    
    grid-area: side;
    background-color: aqua;
}
.item3 {
    grid-area: article;
    background-color: rgb(232, 255, 28);
}
.item4 {
    grid-area: footer;
    background-color: rgb(169, 192, 116);
}
.item5{
    grid-area: nav;
    background-color: #dddddd;
}