/* flex direction */
/* .flex-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(54, 54, 54);
}
.flex-container div {
  background: teal;
  color: white;
  padding: 20px;
  margin: 5px;
} */

/* flex Wrap */
/* .flex-container {
  display: flex;
  flex-wrap: wrap;
  background: yellowgreen;
}
.flex-container div {
  width: 200px;
  margin: 10px;
  background: tomato;
  color: white;
  text-align: center;
  padding: 20px;
} */

/* Justify content */
/* .flex-container{
    display: flex;
    justify-content: space-evenly;
    background: yellow;
}

.flex-container div{
    padding: 20px;
    background: purple;
    color: white;
} */

/* Align Items */
/* .flex-container{
    display: flex;
    align-items: center;
    height: 200px;
    background: peachpuff;
}

.flex-container div{
     background: teal;
     color: white;
     padding: 15px;
     margin: 5px;
} */

/* Align Content */

/* order */
/* .flex-container {
  display: flex;
  background: lightblue;
}
.flex-container div {
  background: teal;
  color: white;
  padding: 20px;
  margin: 5px;
}

.item1 {
  order: 3;
}
.item2 {
  order: 1;
}
.item3 {
  order: 2;
} */

/* Flex Grow & Shrink */
/* .flex-container {
  display: flex;
  background: beige;
}
.flex-container div {
  padding: 20px;
  margin: 6px;
  background: steelblue;
  color: white;
}
.item1{
  flex-grow: 1;
}
.item2{
  flex-grow: 3;
}
.item3{
  flex-grow: 1;
} */

/* Align-Self */
.flex-container {
  display: flex;
  height: 200px;
  background: lavender;
  align-items: center;
}
.flex-container div {
  background: orange;
  color: whitesmoke;
  padding: 20px;
  margin: 5px;
}
.item2 {
  align-self: flex-end;
}