/* FAQ part */
.faq {
  background-color: black;
  color: white;
  padding: 34px;
}
.faq h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 30px;
}
.faqbox {
  background-color: #494848;
  margin: 10px auto;
  max-width: 60%;
  padding: 15px;
  display: flex;
  font-family: "Martel Sans", sans-serif;
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* .faqbox svg {
  filter: invert(1);
} */

.faqbox:hover {
  background-color: #414141;
}

.prefooter {
  padding: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prefooter h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Martel Sans", sans-serif;
}
.prefooter .hero-btn {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.prefooter .hero-btn > input {
  padding: 8px 160px 20px 10px;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  background: rgb(23, 23, 23, 0.7);
  border: 1px solid rgba(99, 99, 99, 0.8);
  box-sizing: border-box;
}
.prefooter .hero-btn > .btn {
  padding: 10px 35px;
  font-size: 20px;
  border-radius: 4px;
}
