/* section */
.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  height: 55vh;
  color: white;
  align-items: center;
  /* position: relative; */
}

@media screen and (max-width: 1300px) {
  .first {
    flex-wrap: wrap;
  }
}

.secImg {
  position: relative;
}

.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 555px;
}

section.first > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 34px 0;
}
.first > div :first-child {
  font-size: 48px;
  font-weight: bolder;
}
.first > div :nth-child(2) {
  font-size: 24px;
  font-weight: 400;
}

