@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap");
body {
  background-color: rgb(14, 32, 14);
  color: white;
  font-family: "Bitcount Grid Double Ink", system-ui;
  font-size: 30px;
}