/* Grid template column || grid template rows */
/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px auto;
  gap: 10px;
  background-color: #4caf50;
  padding: 10px;
}
.grid-items {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #333;
  text-align: center;
  padding: 20px;
  font-size: 20px;
} */

/* Grid template areas */
/* .layout {
  display: grid;
  grid-template-areas: "header header header" "menu main aside" "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
}
.header {
  grid-area: header;
  background: lightblue;
  padding: 20px;
  text-align: center;
}
.menu {
  grid-area: menu;
  background: lightgreen;
  padding: 20px;
}
.main {
  grid-area: main;
  background: lightyellow;
  padding: 20px;
}
.aside {
  grid-area: aside;
  background: lightpink;
  padding: 20px;
}
.footer {
  grid-area: footer;
  background: lightgray;
  padding: 20px;
  text-align: center;
} */


/* Grid Column Span */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background: rgb(117, 190, 68);
    padding: 10px;
}
.grid-item{
    background: white;
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
}
.span-columns{
    grid-column: 1 / 3;
    background: rgb(42, 199, 252);
}